@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mont";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}

:root {
  --body-bg: white;
  --btn-theme-bg: whitesmoke;
  --main-article-clr: whitesmoke;
  --main-article-bg: deepskyblue;
  --main-article-bs: lightgrey;
  --main-article-h1-clr: whitesmoke;
  --test-area-clr: black;
  --sample-text-clr: black;
  --test-wrapper-bc: gray;
  --timer-clr: black;
  --reset-clr: gray;
  --reset-bc: gray;
  --reset-bs: lightgray;
  --reset-clr-hover: whitesmoke;
  --reset-bc-hover: lightgrey;
  --reset-bg-hover: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  cursor: default;
}

body {
  font-family: "Mont";
  background-color: var(--body-bg);
}

body.dark-mode {
  --body-bg: navy;
  --btn-theme-bg: lightgray;
  --main-article-clr: lightgray;
  --main-article-bg: blue;
  --main-article-bs: none;
  --main-article-h1-clr: lightgray;
  --test-area-clr: whitesmoke;
  --sample-text-clr: whitesmoke;
  --test-wrapper-bc: gray;
  --timer-clr: whitesmoke;
  --reset-clr: gray;
  --reset-bc: gray;
  --reset-bs: none;
  --reset-clr-hover: whitesmoke;
  --reset-bc-hover: lightgrey;
  --reset-bg-hover: gray;
}

body span {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

body span:hover {
  transform: scale(115%);
}

body span img {
  display: inline-block;
  margin: 0.25rem auto;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

main article {
  padding: 1rem 1rem;
  font-size: 1.5rem;
  color: var(--main-article-clr);
  background: var(--main-article-bg);
  box-shadow: 0 0 10px 5px var(--main-article-bs);
}

main article h1 {
  padding: 1rem 2rem;
  text-align: center;
  color: var(--main-article-h1-clr);
}

main article p {
  margin: 0 auto;
  width: 70vw;
  text-align: justify;
  line-height: 2rem;
}

#test-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  width: 50vw;
}

#test-area fieldset {
  margin: 0.25rem;
  border-radius: 0.25rem;
}

#test-area fieldset legend {
  margin-left: 1rem;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: var(--test-area-clr)
}

#test-area fieldset #sample-text {
  padding: 1rem;
  line-height: 2rem;
  word-spacing: 1rem;
  font-size: 1.2rem;
  color: var(--sample-text-clr);
}

#test-wrapper {
  display: flex;
  margin: 0 auto;
  width: 99%;
  border: 0.25rem solid var(--test-wrapper-bc);
  border-radius: 0.25rem;
}

#test-wrapper textarea {
  flex: 1;
  padding: 1rem;
  text-align: center;
  line-height: 2rem;
  word-spacing: 0.2rem;
  font-size: 1.2rem;
  resize: none;
  border: none;
  outline: none;
  cursor: text;
}

#meta {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

#timer {
  font-size: 3rem;
  font-weight: bold;
  color: var(--timer-clr);
}

#reset {
  padding: 0 0.5em;
  font-size: 1.2em;
  letter-spacing: 0.1rem;
  color: var(--reset-clr);
  border: 2px solid var(--reset-bc);
  border-radius: 1rem;
  box-shadow: 0 2px 3px 1px var(--reset-bs);
  transition: 0.5s;
  cursor: pointer;
}

#reset:hover {
  color: var(--reset-clr-hover);
  border-color: var(--reset-bc-hover);
  background-color: var(--reset-bg-hover);
  letter-spacing: 0.25rem;
}